*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}


body{
background-color:rgb(246, 182, 100) ;
}
.container{
  margin: 10px 67px 10px 62px;
}
#motivationBox {
    display: none;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 10px;
}
#motivation{
  border: 0px solid black;
    background-color: rgb(246, 232, 147);
    color: rgb(85, 48, 1);
    border-radius: 30px;
    font-size: 25px;
    padding: 19px ;
    position: relative;
    text-align: center;
  
}
#motivation::before{
  content: '';
  position: absolute;
  background-image: url(./img/notification.png);
  background-size: cover;
  height: 28px;
  width: 28px;
  left: 10px;
  top:18px
 
}
.mess{
   text-align: center;
   font-size: 40px;
   text-shadow: 1px rgb(0, 0, 0);
   color: rgb(98, 61, 2);;
}
.To-Do{

background-color: rgb(255, 255, 255);
max-height: 600px;
width: 70%;
border-radius: 10px;
margin: 100px auto 20px;
padding:  40px 30px 70px;
border: 4px solid rgb(241, 238, 138);

}
.To-Do h2{
display: flex;
align-items: center;
color: rgb(7, 7, 59);
margin-bottom: 20px;
font-size: 40px;

}
.To-Do h2 img{
  height: 50px;
  width: 50px; 
}
.row{
display: flex;
align-items: center;
width: 100%;

}
.row input{
   border: none;
   font-weight: 20px;
   font-size: 25px;
   padding: 17px;
   border-radius: 10px;
   flex: 1;
   outline: none;
   margin-bottom: 20px;
   background-color: rgb(238, 239, 213);
}
button{
   border-radius: 10px;
   background-color: rgb(255, 147, 23);
   color: white;
   height: 57px;
   width: 70px;
   border: none;
   text-align: center;
   outline: none;
   font-size: 19px;
   cursor: pointer;
   margin-bottom: 10px;
   
}
ul li{
   list-style: none;
   font-size: 30px;
   padding: 10px 5px 10px 46px;
   position: relative;
}

ul li::before{
   content: '';
   position: absolute;
   height: 28px;
   width: 28px;
   top:12px;
   left: 5px;
   background-image: url(/img/square.png);  /* le box vide avant la tache*/
   background-size: cover;
   background-position: center;
  
}

ul li.checked{
text-decoration: line-through;
color: rgb(92, 91, 91);
}
ul li.checked::before{
background-image: url(/img/cocher.png);    /*le box avec le checked mark */

}
ul li span{
   position: absolute;
   right: 0;
   top: 5px;
   width: 40px;
   height: 40px;
   font-size: 22px;
   line-height: 40px;
   text-align: center;
}

ul li span:hover{
background-color: rgb(227, 223, 223);
border-radius: 50%;
cursor: pointer;
}

ul li img{
 left: 90%;
 top: 7px;
  height: 30px;
  width: 30px;
  position: absolute;
  
}

@media screen and (min-width:320px) and (max-width:768px) {
  #motivationBox{
    width: 100%;
    margin-left: 0px;
    
  }
  #motivation{
    font-size: 20px;
  }
  .mess{
    font-size: 25px;
  }
  .container{
    margin: 6px;
  }
  
  .row{
    flex-direction: column;
    
  }
  button{
    height: 39px;
    width: 100%;
    font-size: 13px;
  }
  .row input{
    font-size: 14px;
    padding: 11px;
    width: 100%;
   
  }
  
 .To-Do{
  width: 85%;
 
 }
  .To-Do h2 {
    font-size: 26px;
}
  ul li{
    font-size: 20px;
  
    
  }
  ul li img{
 left: 100%;
  top: 10px;

 
   
  }
}
